<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item button *ngFor="let item of productos[0]" [routerLink]="[item.id]">   
    <ion-label class="ion-text-wrap">
      <h3>{{ item.descripcion }}</h3>      
    </ion-label>    
  </ion-item>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
